body{
    background-color: #c0ebeb;
    margin: 0px;
}


#container{
    width: 300px;
    height: auto;
    background-color: #84dfdf;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
    padding: 50px;
}
#container .form input{
    width: 120px;
    height: 20px;
    border-radius: 5px;
}
#container .form button{
    width: 50px;
    height: 26px;
    border-radius: 5px;
}
#container #todo-list li{
    list-style-type: decimal;
    color: #da51b7;
}
#container #todo-list li a{
    text-decoration: none;
    color: #aa0303;
}
#container h1{
    color: #da3d3d;
}